<div class="Profiletitle">
  Your Profile!
</div>

</div>

<div class="information">

    <% if @profile.name != "" %>
      <div class="row">Name: <%= @profile.name %></div>
    <% end %>

    <% if @profile.about.nil? != true %>
      <div class="row">About: <%= @profile.about %></div>
    <% end %>

    <% if @profile.location.nil? != true %>
      <div class="row">Current Location: <%= @profile.location %></div>
    <% end %>

    <% if @profile.avatar_url.nil? != true %>
      <p><%= image_tag "#{@profile.avatar_url.thumb.url}" %></p>
    <% end %>

</div>

<div class="edit_profile">
  <%= link_to "Edit Profile", edit_profile_path %>
</div>
