
<h3>Group Info</h3>

<%= @group.name %><br/>
<%= @group.city %><br/>
<%= @group.country %><br/>

<% @group.members.each do |member| %>
  <%= member.user.profile.name %><br/>
<% end %>

<%= link_to "Edit #{@group.name}", edit_group_path(@group) %>


  <div id="googleMap" style="width:500px;height:380px;"></div>
